* {
    font-family: 'Lateef', cursive;
    scroll-behavior: smooth;
}

.content {
    max-width: 1180px;
    margin: 0 auto 0 auto;
}

.frame-header {
    font-size: 50px;
    text-align: center;
}

header {
    height: 80px;
}

.header-button {
    text-decoration: none;
    margin: 20px;
    color:black;
    font-size: 24px;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    border: 1px;
    border-style: solid;
    border-color: rgb(247, 222, 189);
    background-color: rgb(247, 222, 189);
    position: fixed;
    width: 100%;
}

#about {
    
    text-align: center;
}

h1 {
    padding-top: 40px;
}

#about-content {
    font-size: 24px;
    margin-left: 30px;
}

#about img {
    width: 30%;
}

#education {
    margin-top: 150px;
    background-color: rgb(255, 244, 230);
}

table {
    width: 100%;
    border-spacing: 80px;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
}

th {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
}

footer {
    background-color: rgb(255, 244, 230);
    text-align: center;
    padding-bottom: 50px;
}

footer p {
    margin: 0 auto 0 auto;
    font-size: 30px;
}

footer h1 {
    font-size: 48px;
}

.fa-brands {
    margin: 0 25px 0 25px;
    font-size: 35px;
}

#footerIcons {
    margin-top: 50px;
    color: gray;
}

#workList {
    display: flex;
    justify-content: center;
    align-items: center;
}

#workList h3 {
    font-size: 35px;
    margin-bottom: 0;
}

#workList h4 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 0; 
}

.responsibility {
    font-size: 25px;
}

#gridContainer {
    display: grid;
    grid-template-areas: 
        'one two'
        'three three';
    grid-gap: 10px;
    font-size: 25px;
}

#skills h1 {
    background-color: rgb(255, 244, 230);
    padding-top: 40px;
    padding-bottom: 40px;
}

#firstGrid {
    grid-area: one;
    width: 300px;
    margin: auto;
}
#secondGrid {
    grid-area: two;
    width: 300px;
    margin: auto;
}
#thirdGrid {
    grid-area: three;
}

#thirdGridCenter {
    width: 300px;
    margin: auto;
}

.gridHeader {
    font-size: 35px;
}

.images {
    border-radius: 10%;
}

